/node_modules/*
/coverage/*
/build/*
/dist/*
/.vscode/*
/workspaces/*/node_modules/*
/workspaces/*/coverage/*
/workspaces/*/build/*
/workspaces/*/dist/*
/workspaces/*/.vscode/*

.DS_Store
npm-debug.log*
*.tgz
*.pem
